# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/

# Django
db.sqlite3

# Static & Media
staticfiles/
media/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db